pom.xml
pom.xml.asc
*.jar
*.class
*.iml
*.lock
/lib/
/classes/
/target/
/checkouts/
/node_modules/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.shadow-cljs/
.idea/
/compiled/cljs-runtime/
/compiled/*.js
/compiled/*.edn
/compiled/*.json